* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
  color: #000;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  font-family: "Rajdhani", sans-serif;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.login__page .login__img .txt h1 {
  font-weight: bold;
  letter-spacing: 0.04em;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 50px;
}
.login__page .login__img .txt h1 span {
  color: #0049ae;
}
.login__page .login__img .txt h1::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba(0, 73, 174, 0.5);
  filter: blur(40px);
  top: 0;
  left: 70%;
  transform: translateX(-50%);
  z-index: -1;
}
.login__page .login__img .slider-img .swiper-slide {
  padding: 2rem 0;
}
.login__page .login__img .slider-img .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
  border-radius: 0;
  background: var(--swiper-pagination-bullet-inactive-color, #777);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.login__page .login__img .slider-img .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0049ae;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px));
}
.login__page .login__form {
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08), -6px -5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 3rem;
  position: relative;
  background: #fff;
}
.login__page .login__form h3 {
  color: #0049ae;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.login__page .login__form h3 span {
  color: #000;
  font-size: 16px;
}
.login__page .login__form h5 {
  margin: 0;
  font-size: 16px;
}
.login__page .login__form form .uk-input {
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 1rem;
  background: #e6edf7;
  border-bottom: 3px solid #0049ae;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 9px 9px 0 0;
  color: #000;
}
.login__page .login__form form .uk-input:focus {
  outline: 0;
  background-color: #fff;
  color: #000;
  border-color: #0049ae;
}
.login__page .login__form form ::-moz-placeholder {
  color: #777;
}
.login__page .login__form form :-ms-input-placeholder {
  color: #777;
}
.login__page .login__form form ::placeholder {
  color: #777;
}
.login__page .login__form form .uk-button {
  background: #0049ae;
  color: #fff;
  width: 50%;
  font-weight: bold;
  border-radius: 9px;
  margin: 2rem auto 0 auto;
  display: block;
  border: 1px solid #0049ae;
  transition: all 0.4s ease-in-out;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.login__page .login__form form .uk-button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  background: #fff !important;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
.login__page .login__form form .uk-button:hover {
  background: #fff;
  color: #0049ae;
}
.login__page .login__form form .uk-button:hover span {
  width: 225%;
  height: 562.5px;
}
.login__page .login__form form .username-input {
  margin-top: 2rem;
}
.login__page .login__form form .password-input {
  margin-top: 2rem;
}
.login__page .login__form form .password-input .toggle-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding-right: 1rem;
  cursor: pointer;
}
.login__page .login__form form .password-input .toggle-password:focus-visible {
  outline: none;
}
.login__page .login__form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 100px;
  height: 100px;
  background: #0049ae;
  border-radius: 50%;
  z-index: -1;
}
.login__page .login-form-wrapper,
.login__page .login-img-wrapper {
  padding: 50px 40px !important;
}

.copyright {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2rem;
  color: #000;
}

@media (max-width: 959.9px) {
  .login__page {
    overflow: hidden;
  }
  .login__page .login-form-wrapper,
.login__page .login-img-wrapper {
    width: 75%;
    margin: 0 auto;
    padding-right: 0 !important;
    padding-left: 30px !important;
  }
}
@media (max-width: 639.9px) {
  .login__page .login-form-wrapper,
.login__page .login-img-wrapper {
    width: 100%;
  }
  .login__page .login__img .txt h1 {
    font-size: 35px;
  }
  .login__page .login__form {
    padding: 2rem;
  }
}
@media (max-width: 360.9px) {
  .login__page .login__form {
    padding: 1rem;
  }
  .login__page .login__form form .uk-button {
    width: 75%;
  }
}/*# sourceMappingURL=app.css.map */