* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
  color: #000;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  font-family: "Rajdhani", sans-serif;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.login__page .login__img .txt h1 {
  font-weight: bold;
  letter-spacing: 0.04em;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 50px;
}
.login__page .login__img .txt h1 span {
  color: #0049ae;
}
.login__page .login__img .txt h1::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba(0, 73, 174, 0.5);
  filter: blur(40px);
  top: 0;
  left: 70%;
  transform: translateX(-50%);
  z-index: -1;
}
.login__page .login__img .slider-img .swiper-slide {
  padding: 2rem 0;
}
.login__page .login__img .slider-img .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
  border-radius: 0;
  background: var(--swiper-pagination-bullet-inactive-color, #777);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.login__page .login__img .slider-img .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0049ae;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px));
}
.login__page .login__form {
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08), -6px -5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 3rem;
  position: relative;
  background: #fff;
}
.login__page .login__form h3 {
  color: #0049ae;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.login__page .login__form h3 span {
  color: #000;
  font-size: 16px;
}
.login__page .login__form h5 {
  margin: 0;
  font-size: 16px;
}
.login__page .login__form form .uk-input {
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background: #e6edf7;
  border-bottom: 3px solid #0049ae;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 9px 9px 0 0;
  color: #000;
}
.login__page .login__form form .uk-input:focus {
  outline: 0;
  background-color: #fff;
  color: #000;
  border-color: #0049ae;
}
.login__page .login__form form ::-moz-placeholder {
  color: #777;
}
.login__page .login__form form :-ms-input-placeholder {
  color: #777;
}
.login__page .login__form form ::placeholder {
  color: #777;
}
.login__page .login__form form .uk-button {
  background: #0049ae;
  color: #fff;
  width: 50%;
  font-weight: bold;
  border-radius: 9px;
  margin: 2rem auto 0 auto;
  display: block;
  border: 1px solid #0049ae;
  transition: all 0.4s ease-in-out;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.login__page .login__form form .uk-button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  background: #fff !important;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
.login__page .login__form form .uk-button:hover {
  background: #fff;
  color: #0049ae;
}
.login__page .login__form form .uk-button:hover span {
  width: 225%;
  height: 562.5px;
}
.login__page .login__form form .username-input {
  margin-top: 2rem;
}
.login__page .login__form form .username-input .username-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding-left: 1rem;
  cursor: pointer;
}
.login__page .login__form form .username-input .username-icon:focus-visible {
  outline: none;
}
.login__page .login__form form .password-input {
  margin-top: 2rem;
}
.login__page .login__form form .password-input .password-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding-left: 1rem;
  cursor: pointer;
}
.login__page .login__form form .password-input .password-icon:focus-visible {
  outline: none;
}
.login__page .login__form form .password-input .toggle-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding-right: 1rem;
  cursor: pointer;
}
.login__page .login__form form .password-input .toggle-password:focus-visible {
  outline: none;
}
.login__page .login__form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 100px;
  height: 100px;
  background: #0049ae;
  border-radius: 50%;
  z-index: -1;
}
.login__page .login-form-wrapper,
.login__page .login-img-wrapper {
  padding: 50px 40px !important;
}

.copyright {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2rem;
  color: #000;
}

.dashboard nav {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(119, 119, 119, 0.25);
  padding-bottom: 0.3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.dashboard nav h3 {
  font-weight: bold;
  margin: 0;
}
.dashboard nav h3 span {
  color: #0049ae;
}
.dashboard nav p {
  margin: 0;
  font-size: 14px;
}
.dashboard nav .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url(./switch1.svg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dashboard nav .form-check-input:checked {
  background-position: right center;
  background-image: url(./switch.svg);
  background-color: #0049ae;
  border-color: #0049ae;
}
.dashboard .content__wrapper {
  margin-top: 5rem;
}
.dashboard .content__wrapper .side__panel {
  background: linear-gradient(164.93deg, rgba(0, 73, 174, 0.5) 0%, #0049ae 100%);
}
.dashboard .content__wrapper .side__panel .side-panel-list ul li a {
  color: #fff;
  font-size: 16px;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul li .uk-accordion-content {
  background: #e6edf7;
  padding: 0.5rem;
  padding-left: 4rem;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul li .uk-accordion-content .dropdown-list {
  color: #0049ae;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-accordion-title {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-accordion-title p {
  display: none;
  justify-content: space-between;
  flex-grow: 1;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-accordion-title img {
  height: 30px;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-accordion-title::before {
  display: none;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-accordion-title > span {
  transition: transform 0.5s;
  margin-left: 0.3rem;
}
.dashboard .content__wrapper .side__panel .side-panel-list ul .uk-open > .uk-accordion-title > p > span {
  transform: rotate(90deg);
}
.dashboard .content__wrapper .side-panel-width {
  width: auto;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.dashboard .content__wrapper .side-panel-width:hover {
  width: 250px;
}
.dashboard .content__wrapper .side-panel-width:hover #list {
  display: flex;
  margin-left: 1.5rem !important;
}
.dashboard .content__wrapper .side__content {
  padding-right: 40px;
}
.dashboard .content__wrapper .side__content .card-title {
  font-weight: bold;
  position: relative;
  display: table;
  margin: 1rem auto;
  padding: 0 2.2rem;
}
.dashboard .content__wrapper .side__content .card-title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background: #0049ae;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.dashboard .content__wrapper .side__content .card-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background: #0049ae;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.dashboard .content__wrapper .side__content .card-box {
  background: #ffffff;
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08), -6px -5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 1rem;
  margin-top: 3rem;
}
.dashboard .content__wrapper .side__content .today-absent {
  padding: 1rem 3rem;
}
.dashboard .content__wrapper .side__content .today-absent img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard .content__wrapper .side__content .today-absent p {
  margin: 0;
}
.dashboard .content__wrapper .side__content .statistics {
  margin-bottom: 1rem;
}
.dashboard .content__wrapper .side__content .statistics p {
  margin: 0;
}
.dashboard .content__wrapper .side__content .statistics .progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e6edf7;
  border-radius: 0.375rem;
}
.dashboard .content__wrapper .side__content .statistics .progress .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.dashboard .content__wrapper .side__content .project-details {
  padding: 1rem 3rem;
}
.dashboard .content__wrapper .side__content .project-details p {
  margin: 0;
}

@media (max-width: 959.9px) {
  .login__page {
    overflow: hidden;
  }
  .login__page .login-form-wrapper,
.login__page .login-img-wrapper {
    width: 75%;
    margin: 0 auto;
    padding-right: 0 !important;
    padding-left: 30px !important;
  }
}
@media (max-width: 639.9px) {
  .login__page .login-form-wrapper,
.login__page .login-img-wrapper {
    width: 100%;
  }
  .login__page .login__img .txt h1 {
    font-size: 35px;
  }
  .login__page .login__form {
    padding: 2rem;
  }
}
@media (max-width: 360.9px) {
  .login__page .login__form {
    padding: 1rem;
  }
  .login__page .login__form form .uk-button {
    width: 75%;
  }
}/*# sourceMappingURL=app.css.map */