* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #0049ae;
$secondary-color: #e6edf7;
$transition: all 0.3s ease-in-out;

body {
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
  color: #000;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  font-family: "Rajdhani", sans-serif;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.login__page {
  .login__img {
    .txt {
      h1 {
        font-weight: bold;
        letter-spacing: 0.04em;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-size: 50px;

        span {
          color: $primary-color;
        }

        &::before {
          content: "";
          position: absolute;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background: rgba(0, 73, 174, 0.5);
          filter: blur(40px);
          top: 0;
          left: 70%;
          transform: translateX(-50%);
          z-index: -1;
        }
      }
    }
    .slider-img {
      .swiper-slide {
        padding: 2rem 0;
      }
      .swiper-pagination-bullet {
        width: var(
          --swiper-pagination-bullet-width,
          var(--swiper-pagination-bullet-size, 15px)
        );
        height: var(
          --swiper-pagination-bullet-height,
          var(--swiper-pagination-bullet-size, 5px)
        );
        border-radius: 0;
        background: var(--swiper-pagination-bullet-inactive-color, #777);
        opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
        background: $primary-color;
        width: var(
          --swiper-pagination-bullet-width,
          var(--swiper-pagination-bullet-size, 30px)
        );
      }
    }
  }

  .login__form {
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08),
      -6px -5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    padding: 3rem;
    position: relative;
    background: #fff;

    h3 {
      color: $primary-color;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 0;

      span {
        color: #000;
        font-size: 16px;
      }
    }

    h5 {
      margin: 0;
      font-size: 16px;
    }

    form {
      .uk-input {
        width: 100%;
        padding: 1.5rem 3rem 1.5rem 3rem;
        background: $secondary-color;
        border-bottom: 3px solid $primary-color;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-radius: 9px 9px 0 0;
        color: #000;

        &:focus {
          outline: 0;
          background-color: #fff;
          color: #000;
          border-color: $primary-color;
        }
      }
      ::placeholder {
        color: #777;
      }
      .uk-button {
        background: $primary-color;
        color: #fff;
        width: 50%;
        font-weight: bold;
        border-radius: 9px;
        margin: 2rem auto 0 auto;
        display: block;
        border: 1px solid $primary-color;
        transition: all 0.4s ease-in-out;
        padding: 0.3rem;
        position: relative;
        overflow: hidden;
        z-index: 1;

        span {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-radius: 50%;
          z-index: -1;
          background: #fff !important;
          transform: translate(-50%, -50%);
          transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        }

        &:hover {
          background: #fff;
          color: $primary-color;

          span {
            width: 225%;
            height: 250px * 2.25;
          }
        }
      }
      .username-input {
        margin-top: 2rem;

        .username-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          padding-left: 1rem;
          cursor: pointer;

          &:focus-visible {
            outline: none;
          }
        }
      }
      .password-input {
        margin-top: 2rem;

        .password-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          padding-left: 1rem;
          cursor: pointer;

          &:focus-visible {
            outline: none;
          }
        }

        .toggle-password {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          padding-right: 1rem;
          cursor: pointer;

          &:focus-visible {
            outline: none;
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 100px;
      height: 100px;
      background: $primary-color;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .login-form-wrapper,
  .login-img-wrapper {
    padding: 50px 40px !important;
  }
}
.copyright {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2rem;
  color: #000;
}

.dashboard {
  nav {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(119, 119, 119, 0.25);
    padding-bottom: 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    h3 {
      font-weight: bold;
      margin: 0;
      span {
        color: $primary-color;
      }
    }
    p {
      margin: 0;
      font-size: 14px;
    }

    .form-check-input {
      width: 2em;
      margin-left: -2.5em;
      background-image: url(./switch1.svg);
      background-position: left center;
      border-radius: 2em;
      transition: background-position 0.15s ease-in-out;
      height: 1em;
      margin-top: 0.25em;
      vertical-align: top;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: contain;
      border: 1px solid rgba(0, 0, 0, 1);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }
    .form-check-input:checked {
      background-position: right center;
      background-image: url(./switch.svg);
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .content__wrapper {
    margin-top: 5rem;
    .side__panel {
      background: linear-gradient(
        164.93deg,
        rgba(0, 73, 174, 0.5) 0%,
        #0049ae 100%
      );

      .side-panel-list {
        ul {
          li {
            a {
              color: #fff;
              font-size: 16px;
            }
            .uk-accordion-content {
              background: #e6edf7;
              padding: 0.5rem;
              padding-left: 4rem;

              .dropdown-list {
                color: $primary-color;
              }
            }
          }
          .uk-accordion-title {
            padding: 1rem;
            display: flex;
            align-items: center;

            p {
              display: none;
              justify-content: space-between;
              flex-grow: 1;
            }
            img {
              height: 30px;
            }
            &::before {
              display: none;
            }
          }

          .uk-accordion-title > span {
            transition: transform 0.5s;
            margin-left: 0.3rem;
          }
          .uk-open > .uk-accordion-title > p > span {
            transform: rotate(90deg);
          }
        }
      }
    }

    .side-panel-width {
      width: auto;
      transition: width 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        width: 250px;
      }

      &:hover #list {
        display: flex;
        margin-left: 1.5rem !important;
      }
    }

    .side__content {
      padding-right: 40px;
      .card-title {
        font-weight: bold;
        position: relative;
        display: table;
        margin: 1rem auto;
        padding: 0 2.2rem;

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 30px;
          background: $primary-color;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 30px;
          background: $primary-color;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .card-box {
        background: #ffffff;
        box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08),
          -6px -5px 15px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        padding: 1rem;
      }
    }
  }
}

@import "responsive";
